<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar" th:fragment="navbar">

    <div class="logo">

        ABC Technologies

    </div>

    <ul class="nav-links">

        <li><a th:href="@{/}">Home</a></li>

        <li><a th:href="@{/about}">About</a></li>

        <li><a th:href="@{/services}">Services</a></li>

        <li><a th:href="@{/careers}">Careers</a></li>

        <li><a th:href="@{/gallery}">Gallery</a></li>

        <li><a th:href="@{/contact}">Contact</a></li>

    </ul>

</nav>

</body>
</html>